<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"  href="/styles2.css">
    <title>Document</title>
</head>

<h1>
    /AddBooks/AddBooks       testID
</h1>
<body>
    <form action="/AddBooks" method="POST">
        <label for="bookName">bookName: </label>
        <input type="text" id="bookName" name="bookName" >

        <label for="have">user: </label>
        <input hidden type="text" id="CreatdBy" name="CreatdBy" value= <%= testt %>  >
        <input hidden type="text" id="CreatdBy" name="CreatdBy" value= <%= testID %>  >

        <select id="bookType" name="bookType">
            <option value="IT" selected>IT</option>
            <option value="ENG">ENG</option>
        </select>

        <label for="summary">bookDate: </label>
        <input type="date" id="bookDate" name="bookDate" >

        <select id="status" name="status">
            <option value="public" selected>Public</option>
            <option value="private">Private</option>
        </select>

     

        <button>Create</button>
        
    </form> 

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="/styles2.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include('./partials/header') %>

    <body>
        <form action="/AddBooks" method="POST">
            <label for="bookName">bookName: </label>
            <input type="text" id="bookName" name="bookName" >
    
            <label for="have">user: </label>
            <input hidden type="text" id="CreatdBy" name="CreatdBy" value= <%= testt %>  >
            <input hidden type="text" id="CreatdBy" name="CreatdBy" value= <%= testID %>  >
    
            <select id="bookType" name="bookType">
                <option value="IT" selected>IT</option>
                <option value="ENG">ENG</option>
            </select>
    
            <label for="summary">bookDate: </label>
            <input type="date" id="bookDate" name="bookDate" >
    
         
            <button>Create</button>
            
        </form> 
    
    </body>
    <%- include('./partials/footer') %> 
</body>

</html>

