

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="/styles2.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include('./partials/header') %>
    <h1>
        <%= typeS %>
    </h1>
    <% showbooks.forEach(item=> { %>
      
     
       
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th> Created By </th>
            <th> Book Name </th>
            <th> Book Type </th>
            <th> Status </th>
            <th> Taken By  </th>
            <th> Claim It </th>
          
        </tr>
        </thead>
        <tbody>
        <tr>
            
            <td> <%= item.CreatdBy %></td>
            <td> <%= item.bookName %></td>
            <td> <%= item.bookType %></td>
            <td> <%= item.status %></td>
            <td><%= item.Take %></td>
            <!-- to take the book  -->
            <td>       
                <form action="/AddBooks/<%= item._id %>" method="POST">
                    <input type="hidden" name="_method" value="PUT">

                    <input hidden type="text" id="Take" name="Take" value= <%= names %>  >
                    <input hidden type="number" id="Take" name="Take" value= <%= IDstudent %>  >
                    <button>Take</button>
                </form>
        </td>

        </tr>


        <tbody>
    </table>
</div>
<% }); %> 

</body>
<%- include('./partials/footer') %> 
</html>