<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test</h1>

    <% showproducts.forEach(item=> { %>
       
        <table class="fl-table">
            <thead>
                <tr>
                    
                    <th> ProductName </th>
                    <th> ProductPrice </th>
                    <th> ProductAmount </th>
                    <th> ProductType </th>
                    
                  
                </tr>
                </thead>
            <tbody>
            <tr>

             

                    
                        <td> <%= item.ProductName %></td>
                        <td> <%= item.ProductPrice %></td>
                        <td> <%= item.ProductAmount %></td>
                        <td><%= item.ProductType %></td>
                        <td><%= item._id %></td>
                        <td><%= name3 %></td>
                        
                   
                <td>
                        <form action="/" method="POST">
                         <input type="hidden" name="_method" value="PUT">

                            <input hidden type="text" id="Full" name="Full" value= <%= item._id %> >
                            <input hidden type="text" id="user" name="user" value= <%= name2 %> >
                            <button>Take</button>

                        </form>


                </td>

  
        
            </tr>

            
            <tbody>
        </table>
        

        <a href='/dashbord/Cart'>Cart</a>
          
        <% } )%>


        <a href='/AddProduct/AddProduct'>AddProduct</a>
    <a href="/user/logout">logout</a>
    <a href='/dashbord/admindashbord'>admindashbord</a>
   
</body>
</html>