

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Slide Navbar</title>
        <link rel="stylesheet" type="text/css" href="/styles2.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
<body>
    <%- include('./partials/header') %>
    <h1>
       Welcome :  <%= studentName %>
    </h1>
    <% showbooks.forEach(item=> { %>
      
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
               
                <th> Book Name </th>
                <th> bookType </th>
                <th> Taken By  </th>
                <th> Edit Book </th>
                <th> Delete Book </th>
              
            </tr>
            </thead>
        <tbody>
        <tr>
            <td> <%= item.CreatdBy %></td>
            <td> <%= item.bookName %></td>
            <td> <%= item.bookType %></td>
            <td><%= item.Take %></td>



            <td>       
                    
        
                    
                 <a  id="test"  href="/AddBooks/edit/<%= item._id %>">Edit Book</a>
               
                 </td>

                
        <td>
            
            <form  action="/AddBooks/<%= item._id %>" method="POST">
                
                <input type="hidden" name="_method" value="DELETE">
                
                <button>Delete</button>
               
            </form>
        
        </td>
    
        </tr>


        <tbody>
    </table>
</div>
<% }); %> 

</body>
<%- include('./partials/footer') %> 
</html>